fastapi
uvicorn
python-dotenv
langchain
langchain-community
langchain-text-splitters
langchain-qdrant
langchain-google-genai
qdrant-client
pypdf
google-generativeai
sentence-transformers
torch
pymupdf4llm
rapidocr-onnxruntime